/* FONTS */

@font-face {
  font-family: Heebo-Bold;
  src: url("../fonts/Heebo/Heebo-Bold.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(208, 235, 249);
  font-family: Roboto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: rgba(208, 235, 249, 0.75);
}
.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  background: rgb(243, 246, 253);
  overflow-x: hidden;
}
.header {
  width: 100%;
  min-height: 20vh;
  padding: 20px 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  background: url(../images/png/evolution.png) no-repeat;
  background-position: 90% center;
  background-size: 300px 100px;
}
.header .logo {
  height: 108px;
}
.header > h1 {
  padding: 0 20px;
  font: 3em "Heebo-Bold";
}
.header .logo a {
  height: 100%;
  display: inline-block;
}
.panel {
  width: 20%;
  min-height: 80vh;
  padding: 60px 0;
  background: rgb(251, 250, 255);
}
.aside-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.aside-menu-item {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background: rgb(255, 255, 255) no-repeat;
  background-position: center;
  border: none;
  border-radius: 14px;
  box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
}
.aside-menu-item:hover {
  background: rgb(106, 106, 251) no-repeat;
  background-position: center;
}
.aside-menu-item:focus {
  outline: none;
}
.aside-menu-item.active {
  background: rgb(106, 106, 251) no-repeat;
  background-position: center;
  border-radius: 14px;
  box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
}
.aside-menu-item:nth-of-type(1) {
  background-image: url("../images/svg/dumbbell.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.aside-menu-item:nth-of-type(1):hover {
  background: rgb(106, 106, 251);
  background-image: url("../images/svg/dumbbell-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.aside-menu-item:nth-of-type(2) {
  background-image: url("../images/svg/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.aside-menu-item:nth-of-type(2):hover {
  background: rgb(106, 106, 251);
  background-image: url("../images/svg/water-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.aside-menu-item:nth-of-type(3) {
  background-image: url("../images/svg/food.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.aside-menu-item:nth-of-type(3):hover {
  background: rgb(106, 106, 251);
  background-image: url("../images/svg/food-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.aside-menu-item.add {
  background-image: url("../images/svg/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgb(202, 213, 255);
}
.aside-menu-item.add:hover {
  background: rgb(178, 178, 248);
  background-image: url("../images/svg/add-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.content {
  width: 80%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.content > h2 {
  font: 30px "Roboto-Medium";
  text-transform: uppercase;
}
.progress {
  width: 20%;
  padding-top: 16px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.progress-text {
  font: 14px "Roboto";
  display: flex;
  justify-content: space-between;
}
.progress-percent {
  font: 12px "Roboto";
  color: rgb(118, 131, 150);
}
.progress-bar {
  width: 100%;
  height: 5px;
  position: relative;
  background: rgb(230, 233, 237);
  border-radius: 6px;
}
.progress-bar-wrapper {
  height: 5px;
  position: absolute;
  border-radius: 6px;
  background: rgb(80, 81, 249);
  transition: all 0.5s;
}
.active-records {
  width: 100%;
}
.record {
  width: 100%;
  margin-top: 12px;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
.record-day,
.record-text {
  padding: 18px 38px;
}
.record-day {
  width: 130px;
  padding: 20px 38px;
  font: 14px "Roboto";
  background: rgb(251, 250, 255);
  border-radius: 10px 0 0 10px;
}
.record-text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 500 14px "Roboto";
  font-weight: 500;
  color: rgb(35, 35, 95);
}
.record-remove {
  width: 24px;
  height: 24px;
  margin: auto 16px;
  background-image: url(../images/svg/delete.svg);
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
.record-remove:hover {
  background: rgb(178, 178, 248);
  background-image: url(../images/svg/delete-hover.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
}
.record input {
  width: 100%;
  padding: 7px 14px;
  font: 14px "Roboto";
  color: rgb(136, 153, 168);
  background: #fff;
  border: 1px solid #e7ebfb;
  border-radius: 9px;
}
.record input:focus {
  border-color: rgb(204, 204, 204);
  outline: none;
}
.record-add {
  width: 100%;
  padding: 10px 12px;
  color: rgb(35, 35, 95);
  font: 500 16px "Roboto";
  display: flex;
  gap: 15px;
  position: relative;
}
.record-add .input-icon {
  padding-left: 48px;
  background: url("../images/svg/comment.svg") no-repeat 20px center;
  background-size: 18px 18px;
}
.record-add > button,
.popup-form > button {
  padding: 8px 30px;
  font: 500 12px "Roboto";
  color: rgb(80, 81, 249);
  background: #edecfe;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}
.record-add > button:hover,
.popup-form > button:hover {
  color: rgb(255, 255, 255);
  background: rgb(106, 106, 251);
}
.popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
}
.popup-hidden {
  display: none;
}
.popup {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
}
.popup h3 {
  font: 24px "Roboto";
  color: #000;
  text-align: center;
}
.icon-label {
  margin-bottom: 10px;
  font: 14px "Roboto";
  color: rgb(118, 131, 150);
}
.icon-select {
  margin-bottom: 20px;
  display: flex;
  gap: 25px;
}
.icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(80, 81, 249);
  border-radius: 14px;
  cursor: pointer;
}
.icon:nth-of-type(1) {
  background-image: url("../images/svg/dumbbell.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon:nth-of-type(2) {
  background-image: url("../images/svg/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon:nth-of-type(3) {
  background-image: url("../images/svg/food.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon:hover {
  background: rgb(106, 106, 251);
}
.icon:nth-of-type(1):hover {
  background-image: url("../images/svg/dumbbell-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon:nth-of-type(2):hover {
  background-image: url("../images/svg/water-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon:nth-of-type(3):hover {
  background-image: url("../images/svg/food-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon-active {
  background: rgb(106, 106, 251);
}
.icon:nth-of-type(1).icon-active {
  background-image: url("../images/svg/dumbbell-hover.svg");
}
.icon:nth-of-type(2).icon-active {
  background-image: url("../images/svg/water-hover.svg");
}
.icon:nth-of-type(3).icon-active {
  background-image: url("../images/svg/food-hover.svg");
}
.popup-close {
  width: 24px;
  height: 24px;
  padding: 12px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  background-image: url("../images/svg/close.svg");
  border: none;
  cursor: pointer;
}
.popup-close:hover {
  border: 1px solid rgb(106, 106, 251);
}
.popup-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.popup-form input {
  width: 100%;
  padding: 12px 20px;
  color: rgb(136, 153, 168);
  border: 1px solid #e7ebfb;
  border-radius: 9px;
}
.popup-form input:focus {
  outline: 1px solid rgb(106, 106, 251);
}

/* MEDIA QUERIES */

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 2560px;
    padding: 30px;
  }
  .app {
    width: clamp(1440px, 80%, 1920px);
    min-height: 100vh;
    overflow-x: hidden;
  }
  .header {
    padding: 40px 0;
    gap: 0;
    background-position: 90% bottom;
    background-size: 390px 130px;
  }
  .header .logo {
    width: 20%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
  }
  .header > h1 {
    width: 80%;
    padding: 0;
    font: clamp(2em, 3em, 5em) "Heebo-Bold";
  }
  .content > h2 {
    font: clamp(1em, 1.75em, 2.25em) "Roboto-Medium";
  }
  .progress {
    width: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 1024px;
    width: 100%;
  }
  .header {
    padding: 40px 30px;
  }
  .header .logo {
    width: 88px;
    height: 88px;
  }
  .header .logo img {
    max-width: 100%;
    max-height: 100%;
  }
  .header > h1 {
    font: 2.5em "Heebo-Bold";
  }
  .panel {
    width: 15%;
  }
  .content {
    width: 85%;
    padding: 40px;
  }
  .progress {
    width: 40%;
  }
  .record-day {
    font: 13px "Roboto";
  }
  .record-add .input-icon {
    padding-left: 42px;
    background: url(../images/svg/comment.svg) no-repeat 14px center;
  }
}
@media screen and (max-width: 820px) {
  .header {
    padding: 40px 20px;
    gap: 30px;
    background-size: 280px 90px;
  }
  .header .logo {
    width: 78px;
    height: 78px;
  }
  .header > h1 {
    font: 2.35em "Heebo-Bold";
  }
  .content > h2 {
    font: 24px "Roboto-Medium";
  }
}
@media screen and (max-width: 768px) {
  .header > h1 {
    padding: 0;
  }
}
@media screen and (max-width: 720px) {
  .header {
    background-size: 240px 70px;
  }
  .header > h1 {
    font: 2.25em "Heebo-Bold";
  }
  .progress {
    width: 50%;
  }
  .active-records {
    margin-top: 40px;
  }
  .record {
    flex-direction: column;
    position: relative;
  }
  .record-day {
    width: 100%;
    padding: 10px 0;
    font: 600 16px "Roboto";
    text-align: center;
  }
  .record-remove {
    position: absolute;
    right: 0;
    bottom: 16px;
  }
}
@media screen and (max-width: 668px) {
  .header {
    padding: 40px 20px;
    justify-content: center;
    background: none;
  }
  .header .logo {
    width: 78px;
    height: 78px;
  }
  .header > h1 {
    font: 2.75em "Heebo-Bold";
  }
  .panel {
    width: 12%;
    padding: 40px 0;
  }
  .content {
    width: 88%;
    padding: 40px 30px;
  }
}
@media screen and (max-width: 540px) {
  .app {
    flex-direction: column;
  }
  .header {
    padding: 40px 0;
    justify-content: space-evenly;
    gap: 0;
  }
  .panel {
    width: 100%;
    min-height: 0;
    padding: 0;
    margin: 40px 0;
    background: none;
  }
  .aside-menu {
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
  }
  .content {
    width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 431px) {
  .header {
    padding-top: 20px;
    margin-bottom: 40px;
    flex-direction: column;
    gap: 10px;
  }
  .content > h2 {
    padding: 8px;
  }
  .active-records {
    margin-top: 20px;
  }
  .record-text {
    text-align: center;
  }
  .record-add {
    display: flex;
    flex-direction: column;
  }
}
